<ion-content padding class="page-start">

  <div *ngIf="!username">
    <h1>Welcome to</h1>
  </div>
  <div *ngIf="username">
    <h1>Welcome <br> {{username}}</h1>
  </div>
  <img src="assets/imgs/LogoGreen.png">


  <ion-buttons class="square">
    <button ion-button (click)="tripPage()">
      <div>
        <ion-icon name="map"></ion-icon>
        <label>Trips</label>
      </div>
    </button>
    <button ion-button (click)="placePage()">
      <div>
        <ion-icon name="pin"></ion-icon>
        <label>Places</label>
      </div>
    </button>
    <button ion-button (click)="userPage()">
      <div>
        <ion-icon name="people"></ion-icon>
        <label>Users</label>
      </div>
    </button>
    <button ion-button (click)="accountPage()">
      <div>
        <ion-icon name="home"></ion-icon>
        <label>Account</label>
      </div>
    </button>
  </ion-buttons>



</ion-content>
<ion-footer no-border *ngIf="!username">
  <ion-buttons id="footer">
    <button ion-button (click)="signUpPage()" class="footer square_btn">Sign up</button>
    <button ion-button (click)="logInPage()" class="footer square_btn">Log in</button>
  </ion-buttons>
</ion-footer>
