<ion-header>

  <ion-navbar>
    <ion-title>Edit place: {{place?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-buttons id="editButtons">
    <button ion-button (click)="deletePlace()">
      <div>
        <ion-icon name="trash"></ion-icon>
      </div>
    </button>
    
    <button ion-button (click)="locate()">
      <div>
        <ion-icon name="md-locate"></ion-icon>
      </div>
    </button>

    <div *ngIf='!picture.url'>
      <button ion-button (click)="takePicture()" id="editButtons">
        <div>
          <ion-icon name="md-camera"></ion-icon>
        </div>
      </button>
    </div>

    <div id="picture" *ngIf='picture.url'>
      <button ion-button (click)="takePicture()" id="editButtons">
        <div>
          <ion-icon name="md-camera"></ion-icon>
        </div>
      </button>
      <img [src]='picture.url' />
    </div>
  </ion-buttons>

  <form (submit)='onSubmit($event)'>

    <ion-list>

      <!-- Place Name -->
      <ion-item>
        <ion-label floating>Change Place Name</ion-label>
        <ion-input type='text' name='name' #nameInput='ngModel' [(ngModel)]='placeMod.name' minlength="2"></ion-input>
      </ion-item>

      <!-- Error message displayed if the place name is invalid -->
      <ion-item *ngIf='nameInput.error?.minlength' no-lines>
        <p ion-text color='danger'>The place name must be longer than 2 characters.</p>
      </ion-item>

      <!-- Place Description -->
      <ion-item>
        <ion-label floating>Change Place Description</ion-label>
        <ion-textarea rows="5" type='text' name='description' #descriptionInput='ngModel' minlength="2" [(ngModel)]='placeMod.description' minlength="2"></ion-textarea>
      </ion-item>

      <!-- Error message displayed if the place description is invalid -->
      <ion-item *ngIf='descriptionInput.error?.minlength' no-lines>
        <p ion-text color='danger'>The place description must be longer than 2 characters.</p>
      </ion-item>

    </ion-list>

    <div>

      <!-- Submit button -->
      <button type='submit' [disabled]='form.invalid' ion-button block>
        <ion-icon name="md-arrow-round-forward"></ion-icon>
      </button>

    </div>
  </form>

</ion-content>
