<ion-header>

  <ion-navbar>
    <ion-title>New Place</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <button ion-button (click)="getLocation()" id="editButtons">
    <div>
      <ion-icon name="md-locate"></ion-icon>
    </div>
  </button>

  <div *ngIf='!picture.url'>
    <button ion-button (click)="takePicture()" id="editButtons">
      <div>
        <ion-icon name="md-camera"></ion-icon>
      </div>
    </button>
  </div>

  <div id="picture" *ngIf='picture.url'>
    <button ion-button (click)="takePicture()" id="editButtons">
      <div>
        <ion-icon name="md-camera"></ion-icon>
      </div>
    </button>
    <img [src]='picture.url' />
  </div>

  <form (submit)='onSubmit($event)'>

    <ion-list>

      <!-- Place Name -->
      <ion-item>
        <ion-label floating>Place Name</ion-label>
        <ion-input type='text' name='name' #nameInput='ngModel' [(ngModel)]='place.name' minlength="2" required></ion-input>
      </ion-item>

      <!-- Error message displayed if the place name is invalid -->
      <ion-item *ngIf='nameInput.invalid && nameInput.dirty' no-lines>
        <p ion-text color='danger'>A place name is required.</p>
      </ion-item>          

      <!-- Place Description -->
      <ion-item>
        <ion-label floating>Place Description</ion-label>
        <ion-textarea rows="5" type='text' name='description' #nameInput='ngModel'minlength="2" [(ngModel)]='place.description' required></ion-textarea>
      </ion-item>      
      
      <!-- Error message displayed if the place's description is invalid -->
      <ion-item *ngIf='nameInput.invalid && nameInput.dirty' no-lines>
        <p ion-text color='danger'>A place'description is required.</p>
      </ion-item>    

    </ion-list>

    <div>

      <!-- Submit button -->
      <button type='submit' ion-button block>
        <ion-icon name="md-arrow-round-forward"></ion-icon>
      </button>

    </div>
  </form>

</ion-content>
