<ion-content padding>

  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <button ion-button (click)="addTrip()" id="add">
    <ion-icon name="add"></ion-icon>
  </button>

  <!--<button ion-button (click)='takePicture()'>Take a Picture</button>
  <img *ngIf='pictureData' src='data:image/jpeg;base64,{{ pictureData }}' />-->
  <button ion-button (click)='takePicture()'>Take picture</button>
  <img *ngIf='picture' [src]='picture.url' />

  <div class='map' leaflet [leafletOptions]='mapOptions'></div>

</ion-content>
