page-places {

  ion-header {
    margin-top: 70px;
    border: 0;
    background-color: color($colors, secondary);
    padding-right: 20px;
  }

  ion-searchbar {
    margin-left: 20px;
    width: 95%;
    float: left;
    margin-bottom: 15px;
  }

  ion-list {
    padding-top: 20px;
    padding-bottom: 45px;
  }

  ion-icon {
    zoom: 2;
    color: rgb(252, 250, 238);
  }

  .item-md {
    margin-left: 8px;
    width: 96%;
    color: color($colors, primary);
  }

  .item-md h1 {
    font-weight: bold;
    font-size: 20px;
  }

  .item-md #trip ion-icon {
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }

  .item-md p {
    margin: 0;
    font-size: 14px;
    height: 120px;
    overflow: scroll;    
    white-space: normal;
    margin-block-end: 0;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(29, 71, 62, .5);
  }

  .item-md ion-icon {
    zoom: 1.2;
    font-size: 12px;
    color: color($colors, primary);
    background-color: transparent;
  }

  .item-md .item-button {
    all: unset;
  }

  .button-md {
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .button-inner {
    padding: 0;
    margin: 0;
  }

  #symb {
    display: flex;
    justify-content: space-between;
  }

  #picture {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 5px;
  }

  #picture img {
    object-fit: contain;
  }

}

page-editPlace {
  .toolbar-title-md {
    text-align: left;
    font-size: 16px;
  }

  ion-header {
    margin-top: 55px;
    color: color($colors, primary);
  }

  .toolbar-background-md {
    background-color: transparent;
  }

  #editButtons .button-md {
    all: unset;
    zoom: 2;
    margin-bottom: 5px;
    margin-left: 15px;
    color: color($colors, primary);
    float: right;
  }

  .scroll-content {
    bottom: 60px;
  }

  img {
    margin-bottom: 10px;
  }

}

page-newPlace {

  .scroll-content {
    bottom: 60px;
  }

  .toolbar-title-md {
    text-align: left;
    font-size: 16px;
  }

  ion-header {
    margin-top: 55px;
    color: color($colors, primary);
  }

  .toolbar-background-md {
    background-color: transparent;
  }

  #picture {
    display: inline;
  }

  #picture .button-md {
    margin-right: 0;
    display: inline;
  }

  button#editButtons {
    all: unset;
    zoom: 2;
    margin-bottom: 5px;
    margin-left: 15px;
    color: color($colors, primary);
    float: right;
  }

  form {
    margin-top: 10px;
  }

}

page-place {

  * {
    text-align: center;
  }

  .scroll-content {
    bottom: 60px;
  }

  .toolbar-title-md {
    text-align: left;
    font-size: 16px;
  }

  ion-header {
    margin-top: 55px;
    color: color($colors, primary);
  }

  .toolbar-background-md {
    background-color: transparent;
  }

  #edit {
    all: unset;
    zoom: 2;
    margin-bottom: 5px;
    margin-left: 90%;
    color: color($colors, primary);
  }

  .title {
    background-color: transparent;
  }

  .title h1 {
    font-size: 25px;
    font-weight: bold;
    color: color($colors, primary);
  }

  .item-md.item-block .item-inner {
    border-color: color($colors, primary);
    border-bottom-width: 2px;
    margin-bottom: 10px;
  }

  .symb {
    justify-content: space-between;
    display: flex;
    color: color($colors, primary);
    font-size: 12px;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .desc {
    margin-top: 20px;
    float: left;
    margin-left: 15px;
    width: 90%;
    height: 25%;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(29, 71, 62, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .desc p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    text-align: left;
    font-size: 18px;
    color: color($colors, primary);
  }

  .button-md {
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    background-color: transparent;
    box-shadow: none;
    color: color($colors, primary);
  }

  .square button {
    margin-top: 20px;
    width: 40%;
    height: 60px;
    /*border: 2px solid color($colors, primary);
    border-radius: 10px;
    margin: 2px;
    */
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: color($colors, primary);
  }

  .square button:hover {
    background-color: color($colors, secondary);
    font-weight: normal;
  }

  .square ion-icon {
    zoom: 2.5;
    color: color($colors, primary);
  }

  label {
    display: block;
  }

  img {
    margin-left: 15px;
    float: left;
    width: 95%;
  }
}

page-placeLocation {
  .toolbar-title-md {
    text-align: left;
    font-size: 16px;
  }

  ion-header {
    margin-top: 55px;
    color: color($colors, primary);
  }

  .toolbar-background-md {
    background-color: transparent;
  }
}
