<ion-header>

  <ion-navbar>
    <ion-title>{{place?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <button ion-button id="edit" (click)="editPlace(place)" *ngIf="username == place?.trip.user.name">
    <div>
      <ion-icon name="md-create"></ion-icon> <!-- name="ios-create-outline" -->
    </div>
  </button>

  <div *ngIf='place?.pictureUrl'>
    <img [src]='place?.pictureUrl' />
  </div>

  <ion-item class="title">
    <h1>{{place?.name}}</h1>
  </ion-item>

  <div class="symb">
    <ion-icon name="map" (click)="showTrip()"> A place from {{place?.trip.title}}</ion-icon>
  </div>

  <div class="symb">
    <ion-icon name="md-person" (click)="showUser()"> {{place?.trip.user.name}}</ion-icon>

    <ion-icon name="md-time"> {{place?.updatedAt | date:'dd/MM/yyyy'}}</ion-icon>
    <ion-icon name="md-locate" (click)="showLocation(place)" id="loc"></ion-icon>
  </div>

  <div class="desc">
    <p>{{place?.description}}</p>
  </div>
</ion-content>
