<ion-header>

  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)">
  </ion-searchbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor='let place of placeList'>
      <h1>{{place.name}}</h1>
      <button ion-button (click)="showTrip()" id="trip">
        <ion-icon name="map"> A place from ((tripname))</ion-icon>
        <!-- {{trip.name}} -->
      </button>
      <br>
      <div *ngIf='place?.pictureUrl' id="picture">
        <img [src]='place?.pictureUrl' />
      </div>
      <p>{{place.description}}</p>

      <div id="symb">

        <button ion-button (click)="showUser()">
          <ion-icon name="md-person"> ((username))</ion-icon>
          <!-- {{place.user.name}} -->
        </button>

        <ion-icon name="md-time"> {{place.updatedAt | date:'dd/MM/yyyy'}}</ion-icon>

        <button ion-button (click)="showPlace(place)">
          <ion-icon name="add-circle"></ion-icon>
        </button>


      </div>

    </ion-item>

  </ion-list>

</ion-content>
