<ion-header>

  <ion-navbar>
    <ion-title>New Trip</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form (submit)='onSubmit($event)'>

    <ion-list>

      <!-- Trip Name -->
      <ion-item>
        <ion-label floating>Trip Name</ion-label>
        <ion-input type='text' name='title' #tripInput='ngModel' minlength="2" [(ngModel)]='trip.title' required></ion-input>
      </ion-item>

      <!-- Error message displayed if the trip name is invalid -->
      <ion-item *ngIf='tripInput.errors?.invalid && tripInput.errors?.dirty' no-lines>
        <p ion-text color='danger'>A trip name is required.</p>
      </ion-item>   

      <!-- Error message displayed if the trip name is too short -->
      <ion-item *ngIf='tripInput.errors?.minlength' no-lines>
        <p ion-text color='danger'>The trip name must be longer than 2 characters.</p>
      </ion-item>  

      <!-- Trip Description -->
      <ion-item>
        <ion-label floating>Trip Description</ion-label>
        <ion-textarea rows="5" type='text' name='description' #descriptionInput='ngModel' minlength="2" [(ngModel)]='trip.description' required></ion-textarea>
      </ion-item>

      <!-- Error message displayed if the trip's descritpion is invalid -->
      <ion-item *ngIf='descriptionInput.errors?.invalid && descriptionInput.errors?.dirty' no-lines>
        <p ion-text color='danger'>A trip's description is required.</p>
      </ion-item>

      <!-- Error message displayed if the trip description is too short -->
      <ion-item *ngIf='descriptionInput.errors?.minlength' no-lines>
        <p ion-text color='danger'>The trip description must be longer than 2 characters.</p>
      </ion-item>         
    </ion-list>

    <div>
      <!-- Submit button -->
      <button type='submit' [disabled]='form.invalid' ion-button block>
        <ion-icon name="md-arrow-round-forward"></ion-icon>
      </button>

    </div>
  </form>

</ion-content>
