<ion-header>

  <ion-navbar>
    <ion-title>{{trip?.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <button ion-button id="edit" (click)="editTrip(trip)" *ngIf="username == trip?.user.name">
    <div>
      <ion-icon name="md-create"></ion-icon> <!-- name="ios-create-outline" -->
    </div>
  </button>

  <ion-item class="title">
    <h1>{{trip?.title}}</h1>
  </ion-item>

  <div class="symb">
    <ion-icon name="md-person" (click)="showUser(trip?.user)"> {{trip?.user.name}}</ion-icon>
    <br>
    <ion-icon name="md-time"> {{trip?.updatedAt | date:'dd/MM/yyyy'}}</ion-icon>
    <br>
  </div>

  <div class="desc">
    <p>{{trip?.description}}</p>
  </div>

  <ion-buttons class="square">
    <button ion-button *ngIf="trip?.placesCount == 0" id="null" disabled>
      <div>
        <ion-icon name="pin"></ion-icon>
        <label>{{trip?.placesCount}} Places</label>
      </div>
    </button>

    <button ion-button (click)="showPlaces(trip)" *ngIf="trip?.placesCount == 1">
      <div>
        <ion-icon name="pin"></ion-icon>
        <label>{{trip?.placesCount}} Place</label>
      </div>
    </button>

    <button ion-button (click)="showPlaces(trip)" *ngIf="trip?.placesCount > 1">
      <div>
        <ion-icon name="pin"></ion-icon>
        <label>{{trip?.placesCount}} Places</label>
      </div>
    </button>

    <button ion-button (click)="addPlace(trip)" *ngIf="username == trip?.user.name">
      <div>
        <ion-icon name="add-circle"></ion-icon>
        <label>Add Place</label>
      </div>
    </button>
  </ion-buttons>

</ion-content>
