page-account {

  * {
    text-align: center;
  }

  .title {
    background-color: transparent;
  }

  .title p {
    font-size: 15px;
  }

  .title h1 {
    font-size: 25px;
    font-weight: bold;
    color: color($colors, primary);
  }

  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  #edit {
    all: unset;
    zoom: 0.4;
    margin-bottom: 5%;
    margin-left: 90%;
  }

  .square button {
    width: 40%;
    height: 120px;
    border: 2px solid color($colors, primary);
    border-radius: 10px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(11, 28, 24, 0.1);
    color: color($colors, primary);
  }

  .square button:hover {
    background-color: color($colors, secondary);
    font-weight: normal;
  }

  ion-icon {
    zoom: 5;
    color: color($colors, primary);
  }

  label {
    display: block;
  }

  p {
    margin-bottom: 10%;
    color: color($colors, primary);
  }

  footer-md {
    color: none;
    color: color($colors, secondary);
  }

  ion-footer .square {
    margin-bottom: 20%;
  }

  ion-footer #logout {
    width: 80%;
    height: 60px;
    margin-bottom: 40px;
  }



}

page-editAccount {

  * {
    text-align: center;
  }

  #edit {
    all: unset;
    zoom: 2;
    margin-bottom: 0%;
    margin-left: 90%;
    color: color($colors, primary);
  }

  ion-header {
    margin-top: 55px;
    color: color($colors, primary);
  }

  .toolbar-background-md {
    background-color: transparent;
  }

  .toolbar-title-md {
    text-align: left;
    font-size: 16px;
  }

  .title {
    background-color: transparent;
  }

  .title p {
    font-size: 10px;
    margin-bottom: 5%;
  }

  .title h1 {
    font-size: 25px;
    font-weight: bold;
    color: color($colors, primary);
  }

  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  .button-effect {
    transform-origin: unset;
  }

  .item-md {
    background-color: unset;
  }

  .button-md {
    margin-top: 20%;
  }

  #lbl-3,
  #lbl-4 {
    text-align: left;
  }

  input {
    text-align: left;
  }


}
